@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.CreateBookingForm {
  display: flex;
  flex-direction: column;
  gap: $value-4;
  @include glassCard;
}

.CreateBookingForm__Title {
  background: $gradient-primary;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}