@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.HeroSection {
  @include glassCard;
  text-align: center;
}

.HeroSection__title {
  @include glassTitle;
}

.HeroSection__description {
  font-size: 1.3rem;
  color: $glass-text-light;
  max-width: 600px;
  margin: 0 auto;
}
