@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.Table {
  @include adminCard;
  border-collapse: collapse;
  
  th, td {
    padding: $value-3 $value-4;
    text-align: left;
  }

  th {
    background: #f9f9f9;
  }

  tbody tr {
    transition: transform 0.2s, background 0.2s;
  }

  tbody tr:hover {
    transform: scale(1.002);
    background: rgba(0, 0, 0, 0.03);
  }
}

.Pagination {
  @include flexCenter;
  gap: 6px;
  margin: 16px 0;
  flex-wrap: wrap;

  .NavButton, .PageButton {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    transition: all 0.2s;
    color: black;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: #f0f0f0;
      border-color: #999;
    }
  }

  .PageButton.Active {
    background: #0070f3;
    color: white;
    border-color: #0070f3;
  }
}

