@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.RoomBuilderComponent {
  display: flex;
  height: 100vh;
}

.RoomBuilderComponent__SideBar {
  display: flex;
  flex-direction: column;
  gap: $value-4;
  padding: $value-8;
  background-color: #2c3e50;
  color: white;
}

.RoomBuilderComponent__ElementList {
  border: 1px solid #3498DB;
  border-radius: $rounded-lg;
  padding: $value-2_5;
  overflow-y: auto;
  max-height: 200px;
}

.RoomBuilderComponent__ElementItem {
  padding: $value-2 $value-3;
  cursor: pointer;
  transition: all 0.2s ease;
}

.RoomBuilderComponent__ElementItem:hover {
  border-left: 4px solid white;
  transform: translateX(3px);
}

.RoomBuilderComponent__ElementItem--selected {
  background-color: #3498DB;
  border-radius: $rounded-lg;
}

.RoomBuilderComponent__Manual {
  line-height: 2;
}

.RoomBuilderComponent__Grid {
  flex: 1;
  position: relative;
  background: #fafafa;
  border: 1px solid #ddd;
}
