@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.LiquidButton {
  @include liquidButton;

  &--primary {
    background: rgba(100, 200, 255, 0.15);
    border: 1px solid rgba(100, 200, 255, 0.4);
  }

  &--secondary {
    background: transparent;
    border: 1px solid $ultra-glass-border;
    
    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  &__wave {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(100, 200, 255, 0.3), transparent);
    transition: left 0.6s ease;
  }

  &:hover &__wave {
    left: 100%;
  }
}