@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;

.AdminButton {
  padding: $value-3;
  border-radius: $rounded-lg;
  cursor: pointer;

  &--primary {
    background: rgb(85, 85, 202);
    border: 1px solid rgba(126, 182, 212, 0.4);

    transition: 0.5s;
    &:hover {
      background: rgb(46, 46, 108);
    }
  }

  &--secondary {
    background: transparent;
    color: black;
    border: 1px solid rgba(85, 85, 202, 0.4);

    transition: 0.5s;
    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  &:hover {
    left: 100%;
  }
}